<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.localcode60">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/localcode"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/localcode"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.com.localcode60.activity.ActivityHome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.localcode60.activity.ActivityResultado"
            android:parentActivityName="br.com.localcode60.activity.ActivityHome"
            android:screenOrientation="portrait"/>
        <activity
            android:name="br.com.localcode60.activity.ActivityCadastro"
            android:label="@string/cadastroLocal"
            android:parentActivityName="br.com.localcode60.activity.ActivityHome"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>